body {
	font-family: 'Times New Roman', Times, serif;
	background-color: #4A4A4A;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 auto;
}

h1 {
	font-size: 4rem;
	font-family: "Playfair Display", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #ffe48c;
	text-align: center;
	margin: 0;
}

h2 {
	font-family: "Playfair Display", 'Times New Roman', Times, serif;
	color: #2f2808;
	font-size: 3rem;
	text-align: center;
}

.site-nav {
	padding: 0.1rem;
	margin: 0;
}

.menu-tabs li {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 1.25rem;
	margin-right: 1rem;

}

.menu-tabs li a {
	text-decoration: none;
	color: #ffe48c;

}


p {

	font-size: 2rem;
}


a:visited {

	color: #003800;
}

a:hover:not(img),
a:focus {

	/* background-color: #003800; */
	color: #fff;
}

a:focus {
	outline: 1px dotted #003800;
}

a:active {

	background-color: #ede5e5;
}




@media (min-width:50rem) {

	.site-header {

		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	.site-header img {
		width: 30%;
		border-radius: 3rem;

	}

	.menu-tabs {

		display: flex;
		justify-content: flex-end;
		gap: 2rem;

	}


}

/* main  */

.h1-caption {
	color: #ffe48c;
	font-size: 2rem;
	letter-spacing: 0.25em;
}

.site-header img {

	margin-bottom: 2rem;


}


section .underline {
	border-bottom: 4px solid black;
	width: 100%;
	padding-bottom: 5px;

}

.about-me {
	display: inline-block;
	background-color: #ffe4c4;
	border-radius: 6rem;
	padding: 0.2rem 2rem;
	margin: auto;

}

.about-me h2 {

	margin-top: 1rem;

}

.about-me p {
	color: #2f2808;
	margin-top: 0;
	margin-left: 4rem;
	padding: 1rem;
	width: 90%;
}

.my-projects img {
	display: flex;
	margin: auto;
	float: left;
	width: 600px;
	height: 600px;
	object-fit: cover;
	border-radius: 3rem;
	border-radius: 10rem;
	margin-bottom: 0.7rem;
	margin-top: 2rem;
}

.my-projects {
	align-items: center;
	/* display: inline-block; */
	background-color: #ffe4c4;
	border-radius: 6rem;
	padding: 0.2rem 2rem;
	margin: 2rem;

}


.project-wrapper {

	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;

}

/* .project-wrapper img {
	max-width: 50%;
	height: auto;
} */


/* 
.website-1 img {
	width: 60%;
}

.website-2 img {
	width: 75%;

}

.website-3 img {
	width: 60%;
}

.website-4 img {
	width: 60%;
} */


.website-link {
	color: #2f2808;
	display: block;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.75rem;
}


.contact-me {
	text-align: center;
	background-color: bisque;
	border-radius: 6rem;
	padding: 0.2rem 2rem;
	margin: 6rem;
}

.contact-me li {
	display: inline-block;
	margin: auto;
	color: black;

}

.contact-me li a {
	color: black;
	border-radius: 2rem;
	padding: 4rem;
	text-decoration: none;
	font-size: 2rem;
	margin: auto;

}

@media (min-width:65em) {

	.site-header {

		display: flex;
		justify-content: center;
		/* flex-wrap: wrap; */
		flex-direction: row;
		gap: 4rem;
		margin-top: 2rem;

	}


	.site-header img {
		order: 1;

	}


	.about-me {

		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 70%;
	}


	.a {
		display: flex;


	}



	.my-portrait {

		width: 30%;
	}

	.my-projects {
		/* display: block; */
		/* display: flex;
		flex-wrap: wrap; */
		justify-content: center;
	}

	.resize {

		width: 200px;
		height: 200px;
		object-fit: cover;
	}


	.project-wrapper {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;

	}

	.contact-me {
		/* justify-content: center;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start; */
		width: 50%;
		margin: auto;
	}

	.contact-button {

		display: flex;
		justify-content: center;
		margin: auto;

	}

}





/* end of MAIN css codes  */

/* footer  */

.site-footer {
	text-align: center;
	color: #ffe48c;

}


/* flex codes for MAIN */